* {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #ffffff;
}

li {
  list-style: none;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-top: 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: darkgray;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000;
}

#outside-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    box-sizing: border-box;

  }

  #outside-container section {
    box-sizing: border-box;
    border: 1px solid black;
    width: 30%;
    padding: 10px;
  }

  
#form-container {
  display: flex;
  width: 100%;
  margin: auto;
  box-sizing: border-box;


}

#form-container section {
  box-sizing: border-box;
    border: 1px solid black;
    width: 30%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;

}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 0;
    padding: 0;
  }

  .nav-item {
    margin: 16px 0px;
  }

  .nav-menu.active {
    left: 0;
    padding: 0;
  }
}
