* {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #ffffff;
}

li {
  list-style: none;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-top: 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: darkgray;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000;
}

#outside-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  box-sizing: border-box;

  gap: 20px;
=======
  

}

#budget-container {
  display: flex;
  flex-direction: column;
  background-color: #36a754;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#spent-container section {
  display: flex;
  flex-direction: column;
  padding: 0px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#spent-container {
  background-color: #fbbc08;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#remaining-container section {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#remaining-container {
  background-color: #4185f4;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#outside-container section {
  display: flexbox;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  color: #fff;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

h3 {
  text-align: center;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}
#category-container {
  background-color: #fbbc08;
}

#form-container {
  display: flex;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  
}

#form-container section {
  box-sizing: border-box;
  border: 1px solid black;
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#budget-container {
  background-color: green;
  color: white;
 
  }
  
  #spent-container {
    background-color: rgb(243, 203, 45);
    color: white;
    
  }
  
  #remaining-container {
    background-color: blue;
    color: white;
    
  }
  
  #category-container {
    background-color:rgb(243, 203, 45);
    color: white;
    
  }
  
  #total-box {
    background-color: red;
    color: white;
    
  }



form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}
select {
  margin-bottom: 10px;
}

#budget-container button {
  width: 30%;
  margin: auto;
}

form button {
  width: 25%;
  margin: auto;
}

.total-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.total-box {
  border: 1px solid black;
  width: 79%;
  padding: 10px;
  margin: auto;
  background-color: #e94335;
  color: #fff;
  display: block;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#name-list {
  float: left;
}
#number-list {
  float: right;
}

#total-box {
  display: flexbox;
  background-color: red;
  color: white;
}

#chart {
  margin-top: 25px;
  width: 100%;
}
#piechart {
  height: 500px;
  width: 100%;
}

rect {
  display: flex;
  justify-content: center;
}

/* MEDI */
=======


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 0;
    padding: 0;
  }

  .nav-item {
    margin: 16px 0px;
  }

  .nav-menu.active {
    left: 0;
    padding: 0;
  }

  #outside-container {
    display: flex;
    flex-direction: column;
  }
  #piechart {
    height: 400px;
    width: 100%;
  }
  #chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    box-sizing: border-box;
  }

  rect {
    height: 100px;
    width: 100px;
  }
}
